
<div class="container">


<div class="contenido">
   <br><br>
  <h2>Trabajo de tecnología</h2>
  <p>Enviar el trabajo al correo <strong> anpemore@gmail.com</strong> no trabajo impreso</p>
  <p><strong>Fecha de entrega y sustentación miércoles 10/07/2024</strong> </p>


  <h2>Presentación </h2>
  <p>El trabajo escrito como mínimo debe tener estas partes: hoja de guarda, portada, 
     tabla de contenido, introducción, contenido y conclusión. 
  </p>
  <br>
  <h3>Opcional:</h3> Si alguien desea incluir normas Apa o Icontec gana puntos adicional.
  
  <h3>Que se va a evaluar en las exposiciones.</h3>
  <p style="margin: 0; padding: 0;"><strong>Ser: </strong>Cumplimiento en la entrega del trabajo </p>
  <p style="margin: 0; padding: 0;"><strong>Saber: </strong>Dominio del tema</p>
  <p style="margin: 0; padding: 0;"><strong>Hacer: </strong>El conocimiento que se adquirió del tema y la forma como lo demuestra</p>
     
    
  <strong><h4>Estos son los temas a desarrollar</h4></strong> 
  <ul>
    <li> ¿Qué es Excel y para qué es útil? </li>
    <li>Mediante Graficos describa la interfaz de Excel</li>
    <li>Crear un libro Nuevo en excel</li>
    <li>Pasos para guardar un archivo en Excel</li>
    <li>Cómo Moverse por las celdas en Excel </li>
    <li>Explique como esta conformado el area de trabajo de excel</li>
    <li>Explicar cómo es el funcionamiento de las referencias relativa mixta y absoluta en Excel hacer ejercicios</li>
</ul> 
<br>
<h2>Trabajo dos</h2>

<p style="margin: 0;padding: 0;">Se evaluara con examen el dia miércoles 17 de julio del 2024 </p>
<p style="margin: 0;padding: 0;">y el trabajo escrito debe ser enviado al correo electronico <strong>anpemore@gmail.com</strong> miércoles 17 de julio del 2024</p>
<p style="margin: 0;padding: 0;">a mas tardar el miércoles 17 de julio del 2024 hasta las <strong> 11:59 PM</strong></p>
<p style="margin-bottom: 20px;"><strong>se tomarán notas para primero segundo y tercer periodo</strong></p>

<strong><h4>Estos son los temas a desarrollar </h4></strong> 
<ul>
  <li>Que son Las redes sociales</li>
  <li>Que es Netiqueta.</li>
  <li>Es eficiente su uso justifique su respuesta</li>  
  <li>¿Qué entiendes por netiqueta?</li>
</ul>   

</div>
</div>