
<div class="container">
    
    <input type="submit" (click)="resultado()" value="..." style="border: none;">
    <div class="">
        <img class="encabezado" src="/assets/img/encabezado.png" alt="hombre">
    </div>
    <h3 style="text-align: center;">ELECCI&Oacute;N DE PERSONERO ESTUDIANTIL 2025</h3>

   <div class="main">
       <div class="hombre" >
           <img src="/assets/img/hombre.jpeg" alt="hombre" (click)="ejercervoto()">
           <p class="m">{{hombre}}</p>
           <p class="num">01</p>
        </div>
        <div class="blanco"  style="border: solid;">
            <p>VOTO <br> EN <br>BLANCO</p>
        </div>
        <div class="mujer"  >
            <img src="/assets/img/mujer.jpeg" alt="mujer"(click)="ejercervoto1()">
            <p class="m" >{{mujer}}</p>
            <p class="num">02</p>
        </div>
    </div>
    <br><br>

</div>
