<p style="text-align: center;">{{titulo}}</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima14.jpeg" (click)=" iniciarVariable('1')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>

                
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima15.jpeg"  (click)=" iniciarVariable('2')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima16.jpeg" (click)=" iniciarVariable('3')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima1.jpg" (click)=" iniciarVariable('4')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima2.jpg" (click)=" iniciarVariable('5')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima13.jpeg" (click)=" iniciarVariable('6')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima1.jpg" (click)=" iniciarVariable('7')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima2.jpg" (click)=" iniciarVariable('8')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <img class="im" src="./assets/img/ima3.jpg" (click)=" iniciarVariable('9')">
                <figcaption>
                   Descripción de la imagen  
                </figcaption>
            </figure>
        </div>
    </div>


</div>