     <div class="ventana">
          <div class="header">             
          <p class="contactos">Contactenos</p>
              <div class="containerIcono">
                   <img class="icono" src="./assets/icono/icontwitter.png" (click)="('icontwitter')">
                   <img class="icono" src="./assets/icono/whatsapp.png" >
                   <img class="icono" src="./assets/icono/iconfacebook.png" >
                   <img class="icono" src="./assets/icono/iconmessenger.png" >
                   <img class="icono" src="./assets/icono/phone.png" >                   
              </div>
               
          </div>
          <div class="nav"> 
                 <p class="logo" >{{titulo}}</p>  <!--(click)="IniciarVariable('historia')-->
                 


                <ul class="menu">
                   <!--  <li class="menu-linck fuera" (click)="IniciarVariable('fotos')"disable>Actividades</li>
                    <li class="menu-linck fuera" (click)="IniciarVariable('videos')" disable>afro</li>-->
                    <li  class="menu-linck" (click)="IniciarVariable('historia')"disable >Canvas</li> 
                                                     
                 <!--  <li class="menu-linck fuera" (click)="IniciarVariable('documental')" disable>Etica y valores 9</li>   -
                   <li class="menu-linck fuera">Sedes  
                         <ul class="sub-menu"> 
                              <li class="menu-linck" (click)="IniciarVariable('documental')">Sede El Leon</li> 
                              <li class="menu-linck" (click)="IniciarVariable('documental')">Cuatro</li> 
                              <li class="menu-linck" (click)="IniciarVariable('documental')">Sierra</li> 
                              <li class="menu-linck" (click)="IniciarVariable('documental')">Conejo</li> 
                         </ul>               
                  </li>-->
               </ul>
          </div>
         
          
              
               <div class="article">
                    <div *ngIf="icono=='icontwitter'">
                         <app-contacto></app-contacto>
                    </div>
                    <div *ngIf="datos=='inicio'" style="margin-top: 10px;">
                         <app-inicio></app-inicio>  
                                        
                    </div>
                    <div *ngIf="datos=='historia'">
                         <app-historia></app-historia>
                    </div>
                    <div *ngIf="datos=='fotos'">
                         <app-foto (valor)="setIniciarvariable($event)"></app-foto>
                    </div>
                    <div *ngIf="datos=='videos'">
                         <app-video (newItemEvent)="setIniciarvariable($event)"></app-video>
                    </div>
                    
                  
               </div>
              <div class="footer">
                    <div class="footer-caja">
                        <p class="titulo-footer">{{titulo}}</p>   
                         <button class="btn-footer">Estudia Con Nosotros</button>
                    </div>
                    <hr> 

                    <div class="footer-cuadros">
                         <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas amet optio odit odio fuga et laudantium porro quae quaerat quasi.
                         </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas amet optio odit odio fuga et laudantium porro quae quaerat quasi.
                      
                         </p>

                         <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas amet optio odit odio fuga et laudantium porro quae quaerat quasi.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur.
                         </p>
                    </div>
                   
                    <hr>  
              </div>
     </div>
