*{
    padding: 0;
    margin: 0;
  
}
.header{
    position: relative;
    display: flex;
    background-image: url(/assets/img/img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    width: 100%;
    height: 80px;
    text-align: center;
   
    
}
.img{
    margin: 4px;
    box-shadow: rgb(240, 241, 245) 5px 5px 10px;
   }
.containerIcono{
    position: absolute;
    align-items: center;
    right: 20px;
}
.icono{
    text-align: center;
    height:40px;
    width:40px;
    margin-top: 10px;
   
}
.nav{
    position: relative;
 
    /*margin-top: 5px;*/
    width: 100%;   
    align-items: center;
    margin: 0;
    height: 70px;   
   /* background: #85dadd; */
    background: linear-gradient(30deg, #0e0d0d, #0d0d0e);
}
.logo{
    background:#000;    
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: 20px;
    color: #fff;
    box-shadow: rgb(240, 241, 245) 5px 5px 10px;
   font-size: 24px;
}
.logo:hover{
    background: rgb(134, 134, 180);
    transition: .6s;
}
.icono{
    transition: all 300ms;
    margin-top: 15px;
    box-shadow: rgb(221, 36, 36) 5px 5px 10px;
}
.icono:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.menu{
    display: flex;    
   
    cursor: pointer;  
    position: absolute;
    right: 6px;
   
   
   /* background: linear-gradient(30deg, #0f0d0d, #35abe6);
   background: radial-gradient(center, circle, #FFFFFF 0%, #006699 200%); */
}
.menu-linck:hover{
    background: rgb(134, 134, 180);
   /* box-shadow: rgb(8, 12, 252) 0 6px;*/
    
}
.menu-linck{
    list-style: none;
    margin-right: 2px;
    color: #fff;
    font-size: 24px;
     /*background: #576de7;*/
     padding: 10px;
}



.main{
    display: flex;
    margin-top: 2px;
    width: 100%;
    height: 600px;    
}
.article{
   /* border: solid;
    border-color: orangered;*/
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/img5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;  
}
.aside{
    background-image: url(/assets/img/img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100%;
}
.footer{
   position: relative; 
   margin-top: 3px;
   height: 200px;
   background-color: rgb(64, 64, 94);
  
}
.cabeza{
    position: absolute;
    margin: 10px;
    border: solid 4px;
    border-bottom-color: #159288;
   
   
}
.contactos{
    font-size: 28px;
    color: #fff;position: 
    absolute;left: 71%;
    margin-top: 10px;
}
td{
    border: solid;
    color-scheme: #fff;
}

@media(max-width:952px){
     .menu-linck{
        font-size: 20px;
        color: rgb(39, 12, 160);
    }
    .logo{
       font-size: 20px;
        
    }
}
@media(max-width:858px){
    .logo{
        display: none;
        font-size: 10px;
    }
    .menu-linck{
        font-size: 15px;
       background-color: #fff;
    }
    .aside{
        display: none;
    }
    .main{
        width: auto;
    }
    .contactos{
       display: none;
    }
    p{
        font-size: 15px;
    }
}
