*{
    padding: 0;
    margin: 0;
  
}
.ventana{
    background-image: url(/assets/img/afro5.jpeg);
     background-repeat: no-repeat;
      margin: 2px;
     /* background-position: center center;
        background-repeat: no-repeat;*/
     background-size: cover;
     
        
}
.header{
    position: relative;
    display: flex;
    background-image: url(/assets/img/img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    width: 100%;
    height: 80px;
    
   
    
}
.logo:hover{
    cursor: pointer;
}
.img{
      margin: 4px;
      /*box-shadow: rgb(240, 241, 245) 5px 5px 10px;*/

   }
   .img:hover{
      cursor: pointer;
   }
.containerIcono{
    position: absolute;
    align-items: center;
    right: 20px;
}
.icono{
    text-align: center;
    height:40px;
    width:40px;
    margin-top: 10px;
   
}
.nav{
    position: relative; 
    /*margin-top: 5px;*/
    width: 100%;   
    height: 60px;
   /* background: #85dadd; */
    background: linear-gradient(30deg, #bf8484, #4444be);
}
.logo{
        
    border-radius: 20px;
    padding: 5px;
    left: 20px;
    color: #fff;
    box-shadow: rgb(240, 241, 245) 5px 5px 10px;
   font-size: 24px;
   margin-left: 40px;
}
.logo:hover{
    background: rgb(134, 134, 180);
    transition: .6s;
}
.icono{
    transition: all 300ms;
    margin-top: 15px;
    box-shadow: rgb(221, 36, 36) 5px 5px 10px;
}
.icono:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.menu{
    display: flex;    
    height: 60px;
    position: absolute;
    right: 6px;    
    justify-content: center;
      
   /* background: linear-gradient(30deg, #0f0d0d, #35abe6);
   background: radial-gradient(center, circle, #FFFFFF 0%, #006699 200%); */
}
li .sub-menu{
     display: none;
}

.menu-linck:hover{
    background: rgb(14, 14, 239);
   /* box-shadow: rgb(8, 12, 252) 0 6px;*/
    
}

.menu-linck:hover ul{
   display: block;
    
}


.menu-linck{    
    list-style: none;
    margin-right: 2px;
    color: #fff;
    font-size: 24px;
    background: #595b68;
    padding: 10px;
    justify-content: center;
}

.main{
 
    margin-top: 2px;
    width: 100%;
    height: 90%;    
   }
.article{
    width: 100%;
    height: 100%;
   /* background-image: url(/assets/img/img5.jpeg);*/
    background-repeat: no-repeat;
    background-size: cover;
   
}

.footer{
   margin-top: 3px;
   height: 20%;
   background-color: rgb(41, 57, 82);
  
}
.footer-caja{
   display: flex;
   align-content: center;
   margin-top: 400px;
   padding: 20px;
   justify-content: end;
}
p{
    margin: 10px;
    color: #fff;
}
.titulo-footer{
    font-size: 30px;
    color: white;
    margin-right: 60%;
}
.footer-cuadros{
    display: flex;
}
.btn-footer{
  border: 1px solid #fff;    
  background-color: rgb(41, 57, 82);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
hr{
    color: #fff;
}
.cabeza{
    position: absolute;
    margin: 10px;
    border: solid 4px;
    border-bottom-color: #159288;
   
   
}
.contactos{
    font-size: 28px;
    color: #fff;position: 
    absolute;left: 71%;
    margin-top: 10px;
}
td{
    border: solid;
    color-scheme: #fff;
}

@media(max-width:952px){
     .menu-linck{
        font-size: 20px;
        color: rgb(191, 185, 221);
    }
    .logo{
       font-size: 20px;
        
    }
}
@media(max-width:858px){
    .logo{
        
        font-size: 10px;
    }
    .menu-linck{
        font-size: 10px;
       
    }
    .aside{
        display: none;
    }
    .main{
        width: auto;
    }
    .contactos{
       display: none;
    }
    p{
        font-size: 15px;
    }

    .main{
        height: 400px;
    }
}
