
<div class="container">
   <!-- 
    <input type="submit" (click)="resultado()" value="..." style="border: none;">
    <div class="">
        <img class="encabezado" src="/assets/img/encabezado.png" alt="hombre">
    </div>
    <h3 style="text-align: center;">ELECCI&Oacute;N DE PERSONERO ESTUDIANTIL 2025</h3>

   <div class="main">
       <div class="hombre" >
           <img src="/assets/img/hombre.jpeg" alt="hombre" (click)="ejercervoto()">
           <p class="m">{{hombre}}</p>
           <p class="num">01</p>
        </div>
        <div class="blanco"  style="border: solid;">
            <p>VOTO <br> EN <br>BLANCO</p>
        </div>
        <div class="mujer"  >
            <img src="/assets/img/mujer.jpeg" alt="mujer"(click)="ejercervoto1()">
            <p class="m" >{{mujer}}</p>
            <p class="num">02</p>
        </div>
    </div>
    <br><br>
-->

<div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAHHnV6dVs4/S6RKYzWLXqF9PHEYCE0HMA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAHHnV6dVs4&#x2F;S6RKYzWLXqF9PHEYCE0HMA&#x2F;view?utm_content=DAHHnV6dVs4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Introducción a HTML: Etiquetas Básicas y Selectores</a> de Angel perez

</div>
