<div class="container" style="background-color: azure;">
     <header style="background-color: rgb(135, 135, 189);height:80px">
          <h1>PROYECTO: CÁTEDRA DE EMPRENDIMENTO</h1>      
     </header>
     
     <hr>
        <h3>Definicion del modelo Canvas</h3>
        <hr>
        <p>El modelo de negocio Canvas es un método visual que permite diseñar modelos de negocio innovadores y competitivos. Esta herramienta nos permite describir y analizar, en una misma hoja, los distintos elementos que harán económicamente viables a las empresas.</p>
         <br><h2>Elementos que componen el modelo Canvas</h2>
        <p>
            
             

           <b> 1.- Segmentos de mercado: </b><br>
            Es el grupo de personas y organizaciones que constituye nuestro público objetivo, cuyas necesidades vamos a satisfacer mediante los productos o servicios que representan nuestra propuesta de valor.
            Dichos segmentos o nichos del mercado los agruparemos de acuerdo a una serie de características comunes: necesidades, comportamientos y atributos. <br>
            <br>
            <b> 2.- Propuesta de valor: </b><br>
                Está referida al cómo creamos valor para nuestros clientes, mediante los productos o servicios que ellos desean.
                Qué problemas resolvemos, qué necesidades satisfacemos, qué oportunidades detectamos o creamos.
                Estos son algunos de los elementos que pueden ser de valor para los clientes:

               Utilidad.
               Mejora de los productos o servicios ofreciendo mayor comodidad, usabilidad, accesibilidad. <br>
               Innovación. <br>
               Personalización de la oferta de productos y servicios.
               Reducción de los costos, precios, tiempos de entrega, de la inversión necesaria, mediante la optimización de los procesos. <br>
                  
               <br>
               <b> 3.- Canales de Comunicacion: </b><br>
                   A través de qué medios daremos a conocer nuestra propuesta de valor, cómo distribuiremos y venderemos nuestros productos y servicios; garantizando además la atención posventa.
                   Podemos usar nuestros propios canales y/o también los de los socios comerciales. 
               <br>
              
              <br>
               <b>4.- Relación con los clientes</b> <br>
                    A través de qué estrategias nos relacionaremos con nuestros clientes según nuestro modelo Canvas:
                    Cada modelo de negocio exige un tipo de relación y esto debe ser definido, pues la experiencia global del cliente está en función directa al trato que reciba de la empresa.
                    Las relaciones pueden ser personales o automatizadas.
                    Estos son algunos de los tipos que podemos encontrar: 
                  <br>  
                  <br>
                  
                  <b>5.- Fuentes de ingreso</b>
                         Debemos tener diversas fuentes de ingresos para garantizar la viabilidad económica del proyecto.
                         Así como también es importante describir cuáles serán las vías para recibir los recursos económicos objeto de la venta de nuestros productos o servicios.
                         Entre los tipos de ingresos que pueden existir tenemos:
                         <br><br>

                 <b>6.- Recursos clave</b>
                    Con qué activos contamos para que nuestra propuesta de valor se materialice y el negocio funcione según nuestro modelo Canvas:
                    Son aquéllos elementos necesarios para: <br>
                    Crear, desarrollar y vender la propuesta de valor.
                    Poner a tono los canales de distribución.
                    Establecer y mantener las relaciones con los clientes en los segmentos de mercado donde se encuentra nuestro público objetivo.       
                  <br><br>

                 <b>7.- Actividades clave</b> 
                    Son las actividades necesarias para el normal funcionamiento de nuestro modelo de negocio.
                    Así como los recursos clave, éstas son las acciones que inciden en la venta exitosa de la propuesta de valor, abarcando los segmentos del mercado seleccionado, mediante los canales de comunicación, distribución y venta; haciendo eficaces las relaciones con los clientes y fluidas las fuentes de ingresos.
                  <br><br>

                 <b>8.- Asociaciones clave</b><br>
                    Las alianzas con personas y organizaciones externas a nuestro negocio son importantes para el desarrollo del mismo (socios, proveedores, inversionistas, etc).
                    Estas asociaciones nos permitirán garantizar el suministro de recursos, disminuir riesgos, difundir el mensaje, obtener información, generar nuevos clientes, externalizar actividades clave, compartir recursos clave.
                 <br><br>
               <b>9.- Estructura de costos</b><br>
                    Se deben cubrir una serie de costos para garantizar la operatividad del negocio.
                    Todos los elementos que componen el modelo de negocio generan costos y éstos deben ser identificados y presupuestados, a fin de estimar un monto suficiente de ingresos que puedan cubrirlos. 
               <br><br>          
           </p>
         <h2>
             Video de modelo canvas
         </h2>
           <video src="./assets/videos/canvas.mp4"controls style="height: 400px; width: 400px;"></video>
           
           <h2>Modelo canvas</h2>
             <figure>
               <img src="./assets/img/preguntasCanvas.png" alt="" >
              
           </figure>
           <h1>Preguntas a resolver</h1>
           <figure>
                <img src="./assets/img/preguntas.png" alt="" style="margin: 10px; width:90%;"> 
           </figure>
           <h1>Ejemplo de Negocio con el modelo CANVAS</h1>
           <h3>La idea de negocio consiste en crear una venta de zapatos deportivos </h3>
           <figure>
             <img src="./assets/img/ejemplo.png" alt="" style="margin: 10px; height:750px;">
             
           </figure> 
           <p>
                
           </p>
        
</div>
