.container{

}
.j{
    margin-left: 100px;
    border: 2px solid red;
}
@media(max-width:952px){
    .menu-linck{
       font-size: 20px;
       color: rgb(39, 12, 160);
   }
   .logo{
      font-size: 20px;
       
   }
}
@media(max-width:858px){
   img{
       width: 100px;
       height: 100px;
   }
  
}
