ul{
    border: solid;
    width: 50%;
}

.imagen{
    text-align: center;
}

@media(max-width:952px){
    .menu-linck{
       font-size: 20px;
       color: rgb(39, 12, 160);
   }
   .logo{
      font-size: 20px;
       
   }
}
@media(max-width:858px){
   img{
       width: 300px;
       height: 200px;
   }
  
}
