<div class="ventana">
6<!--      <div class="nav">
          
           <li class="menu">Cultura
                <ul>
                    <li class="submenu-item" (click)="setHistoria('cultura')">Bailes Tipicos</li>
                    <li class="submenu-item">Tadiciones</li>
                    <li class="submenu-item">Fiestas</li>
                </ul>
           </li>
           <li class="menu">Economia

               <ul>
                    <li class="submenu-item" (click)="setHistoria('economia')">Agricultura</li>
                   
                    <li class="submenu-item">Ganaderia

                         <ul class="misubmenu">
                              <li class="submenu-item">Extensiva</li>
                              <li class="submenu-item">Intensiva</li>
                              <li class="submenu-item">Pesca</li>
                          </ul>

                    </li>
                    <li class="submenu-item">Pesca</li>
                </ul>

           </li>
           <li class="menu" (click)="setHistoria('deporte')">Deporte</li>
           <li class="menu" (click)="setHistoria('personajes')">Personajes</li>
      </div>

 

      <div class="main">
             <div *ngIf="dato=='cultura'">
                  <h1 style="text-align: center;border-top: 20px;">Estamos en la cultura</h1>
                   <app-cultura></app-cultura>
             </div>
             <div *ngIf="dato=='economia'">
                  <h1 style="text-align: center;border-top: 20px;">Agricultura de la región</h1>
                  <app-economia></app-economia>
             </div>
             <div *ngIf="dato=='deporte'">
                  <h1 style="text-align: center;border-top: 20px;">Sección de Deportes</h1>
                  <app-deportes></app-deportes>
             </div>
             <div *ngIf="dato=='personajes'">
                 <app-personas></app-personas>
             </div>
                 
      </div>-->

   <div style="margin: 40px;">
      <h1 style="text-align: center;">
        Modelo Canvas   
      </h1><br>
        <h2><strong>Nota</strong></h2>
        <p>Este es el tema para la clase solo lo leen. <br>
          Hay que llevar una idea de negocio, para aplicarle el modelo en un taller que se hará en clase
        </p>
        <br><br>
        <div class="imagen">
           <img src="/assets/img/canvas.jpg" alt="">
        </div>  

        <br><br>
        <h3>Responda las preguntas para solucionar los pasos del diagrama </h3><br>
        <h3>1. Propiedad de valor</h3>
        <p>          
          Describe cómo se resuelve el problema o necesidad del cliente, qué beneficios deben esperar de 
          tu servicio y por qué deben elegirte a ti y no a tu competencia.
        </p>        
        <ul>
          <li>¿Cuáles son las características diferenciales de tu producto de tu producto o servicio?</li>
          <li>¿Qué problema de cliente estas resolviendo?</li>
          <li>¿Qué necesidad estas satisfaciendo?</li>
          <li>¿Qué obtiene el cliente?</li>
          <li>¿Qué hace tu proyecto único e inigualable?</li>
        </ul>      
     
      <br>
       <h3>
          2. Segmento de clientes
       </h3>

        <ul>
          <li>¿Quiénes son tus principales clientes?</li>
          <li>¿Qué necesitan de ti?</li>
          <li>¿Quién paga por tu producto o servicio?</li>
          <li>¿Quién se beneficia?</li>
     </ul>
     <br>

     <h3>3 Relación con los clientes</h3>
     <p>Este apartado establece el tipo de relación que vamos a tener con cada uno de los segmentos de clientes</p>
     <ul>
          <li>¿Que modelo de relación tienes con tus clientes?</li>
          <li>¿Cómo la vas a iniciar y Mantener?</li>
     </ul>
      
     <h3>4. Canales de comunicación</h3>
     <p>
          Describe los canales que utilizamos tanto para explicar cuál es la propuesta de valor como para ofrecerla a los clientes
     </p>
     <ul>
          <li>¿A través de que canales te vas a comunicar
          Con tus clientes</li>
          <li>¿Cómo entregas tu producto o servicio?</li>

     </ul>

     <br>
     <h3>5. Actividades clave</h3>
     <p>
          Los procesos internos más importantes para producir y entregar la propuesta de valor. Hay que enumerar sólo las actividades más fundamentales
     </p>
     <ul>
         <li> ¿Cuáles son las actividades claves para poder entregar valor?</li>
         <li> ¿De todo tu proceso que es lo más fundamental?</li>

     </ul>
     <br>

     <h3>6. Recursos clave</h3>
     <p>Los medios humanos, físicos (locales, vehículos, puntos de venta…), y tecnológicos necesarios para el desarrollo del negocio</p>
     <ul>
         <li>¿Que recursos internos necesitas para entregar tu propuesta de valor?</li>
     </ul>
     <br>
     <h3>7. Aliados clave</h3>
     <p>
          En este apartado describe la red de proveedores y socios necesarios para que el modelo de negocio funcione 
          con garantías. <br>Define las alianzas precisas para optimizar los recursos consumidos y potenciar nuestra propuesta de valor
     </p>
     <ul>
          <li>¿Quiénes son tus socios?</li>
          <li>¿Con quién puedes establecer alianzas beneficiosas para ambas partes?</li>
          <li>¿Qué actividades realizan que son fundamentales para tu modelo y que haces tu por ellos?</li>
     </ul>
     <br>
     <h3>8. Fuentes de ingreso</h3>
     <ul>
        <li> ¿Cómo generas dinero?</li>
        <li> ¿Cómo monetizas tu producto o servicio?</li>
        <li> ¿Cuál es tu modelo de ingreso?</li>
        <li> ¿De donde viene la plata?</li>
     </ul>
     <br>
     <h3>9. Estructura de gastos</h3>
     <p>
          Los costes pueden ser <strong>fijos,</strong> que no dependen del volumen del negocio, <strong>variables,</strong> que son proporcionales 
          al volumen de negocio; de <br><strong>inversión,</strong> que son puntuales por una inyección de capital. <br>
          La tesorería manda, por eso se trata de <strong>optimizar</strong> los costes fijos y variables para intentar diseñar 
          un modelo de negocio escalable

     </p>
     <ul>
        <li>¿Cuáles son los gastos mas importantes?</li>
        <li>¿Que gastos fijos vas a tener?</li>

     </ul>
     <br><br>
     <h2>Cuadro con las preguntas</h2>
     <br>
     <div class="imagen">
          <img src="/assets/img/canvascompleto.jpg" alt="">
     </div>
     <br><br>
     <p>video de refuerzo modelo canvas</p>
     <!--<video src="./assets/videos/videocavas.mp4" controls style="height: 200px; width: 200px;"></video>-->
     <video src="./assets/videos/canvas-6.mp4" controls style="height: 200px; width: 200px;"></video>
     

 <br>
  <h2 style="text-align: center;">Actividad en clase</h2>
  <p>Aplicar el Modelo Canvas a tu idea negocio<p> 
  <p> Estos son los pasos que puedes dar para hacer realidad tu idea de negocio.</p>
   <ul> 
       <li> Reúne a tus compañeros maximo 5 estudiantes.</li>
       <li> Dibuja el lienzo en blanco en una hoja y divídelo en nueve secciones. </li>
       <li> Debe haber espacio suficiente para escribir el contenido de cada segmento.</li>
       <li> El líder del grupo debe tener ideas para proponer en la sesión. </li>
       <li> Haz una lluvia de ideas y rellena cada uno de los nueve módulos.</li>
   </ul>
</div>
</div>
