ul{
    border: solid;
    width: 50%;
}

.imagen{
    text-align: center;
}

.variable{
    margin: 20px;
    box-shadow: rgb(133, 134, 134) 5px 5px 10px;
}
.lista{
    align-items: center;
    margin: 20px;
}

h1{
    margin: 40px;
    border-radius: 10px;
    text-align: center;
}

.nota{
    color: red;
}

@media(max-width:952px){
    .menu-linck{
       font-size: 20px;
       color: rgb(39, 12, 160);
   }
   .logo{
      font-size: 20px;
       
   }
}
@media(max-width:858px){
   img{
       width: 300px;
       height: 200px;
   }
  
}
