<div class="container">
   <!-- <p class="titulo">{{title}}</p>
    <ul class="menu">
        <li class="menu-item" (click)="getLlenar('documentos')">{{doc}}</li>
        <li class="menu-item" (click)="getLlenar('documentaldos')">{{doc1}}</li>
        <li class="menu-item" (click)="getLlenar('documentaltres')">{{doc2}}</li>
        <li class="menu-item" (click)="getLlenar('documentalcuatro')">{{doc3}}</li>
        <li class="menu-item" (click)="getLlenar('documentalquinta')">{{doc4}}</li>
    </ul>
   
   <div class="etica">
    <h1>La inteligencia emocional</h1>
    <br>
   <p> La inteligencia emocional es la habilidad de reconocer, regular y comprender las emociones, 
    tanto en ti mismo como en los demás. <br>La inteligencia emocional alta te ayuda a conectar con otras 
    personas, forjar relaciones empáticas, comunicar de manera efectiva, resolver conflictos y 
    expresar tus sentimientos. se puede como inteligencia emocional como IE o 
    coeficiente emocional (EQ). <br>
    Muchas veces se asume que la inteligencia emocional es algo que tienes o no tienes. 
    Sin embargo, al igual que tu coeficiente intelectual (IQ), el coeficiente emocional (EQ) 
    es un músculo que puedes desarrollar a lo largo del tiempo. <br>
    </p>
    <p>Desarrollar la inteligencia emocional implica aprender a reconocer las propias emociones y las de los demás,
        entender cómo afectan el comportamiento y las decisiones, y aprender a gestionarlas de manera constructiva. 
        Esto puede llevar a una mejor autoestima, relaciones más positivas, y una mayor capacidad para enfrentar 
        desafíos y adaptarse a diferentes situaciones en la vida.</p>


    <h2>Los beneficios de un coeficiente emocional alto</h2>

   <p> Los estudios han demostrado que la inteligencia emocional es igual de importante, o a veces más 
    importante, que la inteligencia racional. Una inteligencia emocional 
    alta es más significativa para un excelente trabajo en equipo que un coeficiente intelectual alto. 
    Una inteligencia emocional alta da lugar a un desempeño laboral y liderazgo mejores. 
    La inteligencia emocional se trata de entender tus propias emociones y las emociones de los demás. 
    Una inteligencia emocional alta te ayuda a:</p>
<ul>
    <li>Colaborar de manera efectiva con los miembros de tu equipo </li>
    <li>Pensar antes de actuar o reaccionar </li>
    <li>Reducir tus reacciones viscerales o impulsos</li>
    <li>Superar problemas, tanto en casa como en el lugar de trabajo</li>
    <li>Atender conflictos</li>
    <li>Comunicarte en el lugar de trabajo</li>
    <li>Resolver problemas</li>
    <li>Forjar relaciones más sólidas</li>
    <li>Conectar con tus emociones</li>
    <li>Empatizar con los demás</li>
    <li>Desarrollar sinergia entre tú y tus compañeros</li>
</ul><br>
<h2>Los cinco atributos de la inteligencia emocional</h2>
  <ul>
    <li><strong>Autoconocimiento:</strong> La habilidad para comprender tus propias emociones. Tener autoconocimiento 
    significa entender tus fortalezas personales, debilidades, valores, metas y el impacto en los demás. </li> <br>

    <li><strong>Autorregulación:</strong> La habilidad de regular tus emociones. En lugar de actuar impulsivamente, 
    los líderes con una alta autorregulación son capaces de detenerse y examinar sus emociones antes de reaccionar. </li><br>

    <li><strong>Motivación:</strong> Las razones por las que quieres tener éxito. Reconocer tu motivación te ayuda a 
     adaptar tu comprensión empática. </li><br>

    <li><strong>Empatía:</strong> La habilidad de conectar con la forma en que otras personas se sienten. La empatía 
        a menudo se considera la piedra angular de la inteligencia emocional, ya que es una base importante para otros 
        estados emocionales. </li><br>

    <li><strong>Habilidad social:</strong> La habilidad para comunicarse y colaborar con otros. Goleman compara las habilidades 
        sociales con la habilidad para guiar a otros para promover tus ideas. </li> <br>

</ul>
    
   <br>
   <video src="./assets/videos/inteligencia.mp4" controls style="height: 200px; width: 200px;"></video>
</div> 
    
    
     -->
 <div style="margin: 20px;">

     <h4 style="text-align: center;">Visión</h4>
      <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio vel facere fuga ut itaque eligendi ullam debitis sunt, eum nostrum. Dignissimos corporis, consectetur cum dolores itaque quibusdam laboriosam porro qui?
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae illum magnam officia vero labore officiis ea, quia fugiat odio? Labore, eligendi ab. Cupiditate porro aperiam neque suscipit cumque tempora provident beatae ex corrupti ea, soluta veritatis. Nesciunt velit ea alias, iusto ullam iste numquam amet explicabo natus officia repellendus culpa cumque quod quos, nostrum cum ipsam corrupti perferendis quisquam. In ea cumque eum unde dolor quia, mollitia quae fuga id sequi beatae aspernatur laudantium aliquam qui modi amet labore vel officiis. Fugiat quod aspernatur tempora commodi porro, ipsam distinctio, alias nesciunt, voluptatum doloremque repellendus ipsa recusandae? Aperiam error aspernatur quae.
     
        </p>
     <h4 style="text-align: center;">Misión</h4>
     <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio vel facere fuga ut itaque eligendi ullam debitis sunt, eum nostrum. Dignissimos corporis, consectetur cum dolores itaque quibusdam laboriosam porro qui?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae illum magnam officia vero labore officiis ea, quia fugiat odio? Labore, eligendi ab. Cupiditate porro aperiam neque suscipit cumque tempora provident beatae ex corrupti ea, soluta veritatis. Nesciunt velit ea alias, iusto ullam iste numquam amet explicabo natus officia repellendus culpa cumque quod quos, nostrum cum ipsam corrupti perferendis quisquam. In ea cumque eum unde dolor quia, mollitia quae fuga id sequi beatae aspernatur laudantium aliquam qui modi amet labore vel officiis. Fugiat quod aspernatur tempora commodi porro, ipsam distinctio, alias nesciunt, voluptatum doloremque repellendus ipsa recusandae? Aperiam error aspernatur quae.
   
     </p>

     <h4 style="text-align: center;">
         Insignias
     </h4>
     <div style="text-align: center;margin-top: 20px;">
               
        <img src="./assets/img/leon1.jpeg" alt="">
        <img src="./assets/img/leon2.jpeg" alt="">
   
   </div>
 </div>

</div>