<div class="container">
    <p class="titulo">{{title}}</p>
    <ul class="menu">
        <li class="menu-item" (click)="getLlenar('documentaluno')">{{doc}}</li>
        <li class="menu-item" (click)="getLlenar('documentaldos')">{{doc1}}</li>
        <li class="menu-item" (click)="getLlenar('documentaltres')">{{doc2}}</li>
        <li class="menu-item" (click)="getLlenar('documentalcuatro')">{{doc3}}</li>
        <li class="menu-item" (click)="getLlenar('documentalquinta')">{{doc4}}</li>
    </ul>
</div>