 <h1 style="text-align: center;">{{titulo}}</h1>
<div class="componente" style="background: url(./assets/img/ima2.jpeg);background-repeat: no-repeat;
    background-size: cover;width: 95%; height: 600px;
      margin-right: 20px; margin-left: 20px;">
      <br>
     <h3>Temas a desarrollara</h3> 
<!--
     <p>          
      En programación, una variable es un espacio de memoria que se utiliza 
      para almacenar datos. estos valores pueden cambiar durante la ejecución de un programa. 
      Cada variable tiene un nombre único que se utiliza para referirse a ella en el 
      código y un tipo que define qué tipo de datos puede almacenar (como números enteros, 
      cadenas de texto, booleanos, etc.).
      
      <div>
      <h3>Condicional si (if)</h3> 
      <br>
      <p>
      el condicional "si" se expresa a través de la estructura condicional if. Esta estructura
      permite ejecutar cierto bloque de código si una condición específica se evalúa como 
      verdadera (true). La sintaxis básica del condicional if varía ligeramente entre diferentes
      lenguajes, pero el concepto general es el mismo.</p>
      <br>
      <p>
          A grandes rasgos puede hablarse de estructuras organizativas centralizadas, 
          que son aquellas en las que sobresalen los cargos directivos por encima del 
          resto de integrantes; y descentralizadas, en las que los cargos delegan las 
          responsabilidades en niveles intermedios o bajos. Pero aún se puede entrar 
          en una clasificación más detallada:</p>
          <br>
          <br>
          <p> Realice un algoritmo que pida un numero por tecla e imprima el mensaje informando si el numero es primo o no. </p>
          <p> Nota: un numero es primo si el número de divisores es igual a dos, es decir solo es divisible por 1 y por el propio numero</p>  

          <h2><strong>Desarrollo</strong></h2>
        <p>
          <code>
            <div class="codigo">
                <p class=" codigop">inicio </p>
                <p class=" codigop" style="padding-left: 40px;">nu=0; </p>
                <p class=" codigop" style="padding-left: 40px;">c=0</p>
                <p class=" codigop" style="padding-left: 40px;">Escribir "ingrese un numero" </p>
                <p class=" codigop" style="padding-left: 40px;">Leer nu</p>
                <p class=" codigop" style="padding-left: 40px;">para i =1 Hasta nu</p>              
                <p class=" codigop" style="padding-left: 40px;">si nu % i = 0 Entonces</p>
                <p class=" codigop" style="padding-left: 50px;">c=c+1</p>
                <p class=" codigop" style="padding-left: 50px;">si c > 2 Entonces</p>
                <p class=" codigop" style="padding-left: 70px;">i=nu+1;</p>
                <p class=" codigop" style="padding-left: 50px;">FinSi		</p>	
                <p class=" codigop" style="padding-left: 40px;">FinSi </p>
                <p class=" codigop">si i>nu/2 Entonces </p>
                <p class=" codigop">i=nu+1;</p>
                <p class=" codigop">FinSi </p>
                <p class=" codigop">FinPara </p>
                <p class=" codigop">si c==2 o c==1 Entonces  </p>
                <p class=" codigop">Escribir "el numero " nu " es primo" </p>
                <p class=" codigop">SiNo </p>
                <p class=" codigop">Escribir "el numero " nu " No es primo" </p>
                <p class=" codigop">FinSi </p>
                <p class=" codigop">FinAlgoritmo </p>
              </div>
           </code>
           --> 
<div style="display: flex;">
  
  <ol>
    
    <li>El producto.</li>
    <li>El precio.</li>
    <li>El valor.</li>
    <li>Diferencia entre precio y valor</li>
    <li>La promoción.</li>
    <li>La publicidad.</li>
    <li>Marco Legal de la constitución de una empresa:</li>
    
</ol>


</div>
     <div>
        <p>
          El trabajo debe tener como mínimo las siguientes partes de las normas para presentar <br>
          un trabajo escrito. De estos trabajos escritos recuerden que se toman varias notas,<br>
          Puntualidad, manejo de la temática, uso de herramientas en la sustentación, normas de presentación, contenido  
          
        </p>
    </div>

    <div>
        <figure style="height: 450px; display: flex; overflow: auto;box-shadow: rgb(150, 150, 150) 5px 5px 5px" >
           <img src="/assets/img/portada.png" alt="" height="400px">
           
           <img src="/assets/img/introcuccion.png" alt="" height="400px">

           <img src="/assets/img/tabla.png" alt="" height="400px">

           <img src="/assets/img/objetivo.png" alt="" height="400px">

           
           <img src="/assets/img/conclucion.png" alt="" height="400px">

       </figure>    
      <div>
          <h1>NOTA</h1>
          <p style="color: red;">
            Cuidado con los trabajos gemelos o identicos <br>
            
           
          </p>
          <p style="font-size: 30px;">
            Entregar el 07 - 08 - 2024 <br>
            al correo electronico <br>
            anpemore@gmail.com
          </p> 


      </div>
    </div>

</div>