 <h1 style="text-align: center;">{{titulo}}</h1>
<div class="componente" style="background: url(./assets/img/ima2.jpeg);background-repeat: no-repeat;
    background-size: cover;width: 95%; height: 600px;
      margin-right: 20px; margin-left: 20px;">
      <br>
     
    
          
      Las empresas son organizaciones que combinan los factores 
      de producción (tierra, trabajo y capital) para producir 
      bienes y servicios económicos, es decir, crean valor y riqueza. 
      Esto lo hacen demandando trabajo de las familias por un salario, 
      capital por unos intereses y tierra por una renta. Su motivación 
      es maximizar su utilidad (ganancias económicas) con la actividad 
      económica que la empresa desempeña.
   
     <div>
      <h2>Tipos de estructura empresarial</h2> 
      <br>
      <br>
          A grandes rasgos puede hablarse de estructuras organizativas centralizadas, 
          que son aquellas en las que sobresalen los cargos directivos por encima del 
          resto de integrantes; y descentralizadas, en las que los cargos delegan las 
          responsabilidades en niveles intermedios o bajos. Pero aún se puede entrar 
          en una clasificación más detallada:
          <br>
          <br>
          <h2><strong>Jerárquica</strong></h2>
            Basada en el principio de jerarquía, en esta estructura empresarial se establecen diferentes departamentos supervisados por uno o varios cargos superiores, que son quienes toman las decisiones.
            Como ventaja de este tipo de estructura organizativa, destaca su fácil comprensión, pues la autoridad está perfectamente definida; como inconveniente, la rigidez del modelo, que no permite a los subordinados autonomía en la toma de decisiones.
            Es uno de los modelos de estructura organizacional más extendido, siendo el más aplicado en pequeñas y medianas empresas.
            <br>
            <br>
            <div class="imagen">
              <img src="assets/img/jerarquica.jpg" alt="">
            </div>
            
            <br>
            <br>
          <h2><strong>Funcional</strong></h2>
            Es una de las fórmulas organizativas más comunes, en la que la empresa se divide en funciones generales (administración, logística, recursos humanos, marketing, etc.) y al frente de cada uno de estos departamentos se coloca un jefe de sección.
            Es una estructura en la que prima la especialización de los trabajadores y se descentraliza la toma de decisiones, aunque esto puede ocasionar que, en ocasiones, los empleados reciban órdenes distintas.
            Amazon es un ejemplo de compañía con estructura organizativa funcional.
            <br>
            <br>
            <div class="imagen">
            <img src="assets/img/funcional.jpg" alt="" >
            </div>
            <br>
            <br>
            <h2><strong>Por Division</strong></h2>
            En esta estructura empresarial la empresa se organiza según tres elementos clave:
            Por productos. La organización se divide en grupos y cada grupo se encarga de la elaboración de un producto específico.
            Por zonas geográficas. En grandes compañías que tienen actividad en diferentes áreas geográficas, cada división es responsable de todos los productos y servicios de la compañía en esa región.
            Por tipo de clientes. La organización se especializa y se divide en grupos, cada uno centrado en resolver las necesidades de un tipo diferente de cliente.
            En una empresa cuya estructura se organiza por división, cada una de estas divisiones tendrá sus propios departamentos (por ejemplo, producción, ventas, administración, marketing, etc.).
            Inditex sería un ejemplo de estructura empresarial divisional por productos (unidades de negocio): Zara, Bershka, Massimo Dutti, etc. Coca-Cola, por su parte, ejemplificaría una estructura empresarial divisional por áreas geográficas (Coca-Cola Europa, Latam, Asia Pacífico, etc.)..
            <br>
            <br>
            <div class="imagen">
            <img src="assets/img/division.jpg" alt="" >
            </div>
            <br>
            <br>
          
            <h2><strong>Matricial</strong></h2>
            Este tipo de estructura empresarial es una combinación de las estructuras funcional y por división, pues los puestos de trabajo y los departamentos se clasifican, por una parte, según las funciones y, por otra, según las divisiones. De esta forma, cada empleado forma parte de dos cadenas de mando: la de su departamento funcional y la de la división (normalmente por zona geográfica).
            En esta estructura, la toma de decisiones y la transmisión de información es más rápida, pero también pueden aparecer dificultades o conflictos de competencia por la presencia de dos autoridades.
            El sistema de organización matricial también se puede aplicar cuando la empresa quiere organizarse para proyectos concretos, en la que las personas responden a dos supervisores, el del departamento funcional y el de proyectos.
            La multinacional Nestlé es un ejemplo de estructura empresarial matricial, pues cuenta con una organización descentralizada, tanto por países como por proyectos, trabajo en red y un líder responsable al frente de cada equipo
            <br>
            <br>
            <div class="imagen">
            <img src="assets/img/matricial.jpg" alt="" >
            </div>
            <br>
            <br>    
            
            <h2><strong>Toma de decisiones</strong></h2>
              Para tomar una decisión es necesario disponer de toda la información posible sobre 
              cada una de las alternativas entre las que es posible escoger y las consecuencias 
              que cada una podría conllevar respecto a los objetivos marcados. Con los datos 
              recopilados como materia prima, el tratamiento correcto de la información permite 
              discernir mejor qué acción es más conveniente ejecutar. <br>
              <br>
              El proceso de seleccionar entre las diferentes alternativas para llevar acabo 
              acciones relacionadas con cualquiera de las funciones administrativas puede 
              segmentarse en ocho etapas:
            <br><br>
            <strong>1. La identificación de un problema:</strong> 
            el primer paso del proceso de toma de 
            decisiones es haber detectado que hay una diferencia entre el estado actual 
            de la situación y el estado deseado. Esta discrepancia o problema ejerce una 
            presión sobre el administrador que le obliga a actuar.
            <br><br>
          <strong>2. La identificación de los criterios para la toma de decisiones:</strong>
            señalar la pauta o los métodos que resultarán relevantes para solucionar el 
            problema.
            <br><br>
          <strong>3. La asignación de ponderaciones a los criterios:</strong>  
            priorizar de forma
            correcta los criterios seleccionados en la etapa anterior, puesto que 
            no todos van a tener la misma relevancia en la toma de la decisión final. 
            <br><br>
          <strong>4. El desarrollo de alternativas:</strong> consiste en ser capaz de obtener 
            y presentar todas las alternativas factibles que podrían resolver el 
            problema con éxito.
            <br><br>
          <strong>5. El análisis de las alternativas:</strong>el responsable de la toma de 
            decisiones en la empresa debe estudiar minuciosamente las alternativas 
            que se han propuesto. Las fortalezas y las debilidades de cada una deberían 
            ponerse de manifiesto de forma clara una vez comparadas con los criterios 
            seleccionados y ordenados en la segunda y la tercera etapa.
            <br><br>
           <strong>6. La selección de una alternativa:</strong>  una vez establecidas y presentadas 
            todas las alternativas, y una vez evaluadas por el responsable de la toma 
            de decisiones según los criterios establecidos y jerarquizados, es el 
            momento de elegir una sola alternativa: la mejor de las presentadas según 
            el procedimiento establecido.
            <br><br>
           <strong> 7. La implantación de la alternativa:</strong>  una vez completado el proceso de 
            selección de la decisión a ejecutar, cobra una importancia también vital 
            la aplicación de la misma. Lo primero que hay que hacer para llevar a 
            cabo la decisión es comunicarla a las personas afectadas y conseguir 
            que se comprometan con ella.
            <br><br>
          <strong> 8. La evaluación de la efectividad de la decisión:</strong>por último, hay 
            que evaluar el resultado conseguido a raíz de la decisión tomada y 
            la solución adoptada y comprobar si se ha corregido el problema. Si 
            éste todavía persiste.
            <br><br>


 
            <video src="./assets/videos/decision.mp4" controls style="height: 200px; width: 200px;"></video>
     </div>
      

      

         <a href="https://youtu.be/cHo5A9amaFI">segun el capital</a>

     
        
</div>