<div class="ventana" >
   <div class="row">

        <div class="col-md-3">           
            <video src="./assets/videos/afroNoveno.mp4" controls (click)="addNewItem('0')"></video>
             <h6>Aqui Iria el Nombre del video</h6>
        </div>        
        <div class="col-md-3">
            <video src="./assets/videos/negra.mp4" controls > </video>
            <h6>Aqui Iria el Nombre del video</h6>
        </div> 
        <div class="col-md-3">
            <video src="./assets/videos/canalete.mp4" controls></video>
            <h6>Aqui Iria el Nombre del video</h6>
        </div>
        <div class="col-md-3">
            <video src="./assets/videos/pilandera.mp4" controls></video>
            <h6>Aqui Iria el Nombre del video</h6>
        </div>     
     
        <div class="col-md-3">
            <video src="./assets/videos/colibri.mp4" controls></video>
            <h6>Aqui Iria el Nombre del video</h6>
        </div>  
        <div class="col-md-3">
            <video src="./assets/videos/garabato.mp4" controls></video>
            <h6>Aqui Iria el Nombre del video</h6>
        </div>   
        
        <div class="col-md-3">
            <video src="./assets/videos/mapale11.mp4" controls></video>
            <h6>Aqui Iria el Nombre del video</h6>
        </div>  

        <div class="col-md-3">
            <video src="./assets/videos/cabildo.mp4" controls></video>
            <h6>Aqui Iria el Nombre del video</h6>
        </div>  
        
    </div>

</div>


