<div class="ventana">
   <!----> <!--<div class="row">
        <div class="col-md-3">
            <video src="./assets/videos/video2.mp4" controls style="height: 200px; width: 200px;" (click)="addNewItem('0')"></video>
            <label >Aqui Iria el Nombre del video</label>
        </div>        
        <div class="col-md-3">
            <video src="./assets/videos/video2.mp4" controls  style="height: 200px; width: 200px;"> </video>
            <label >Aqui Iria el Nombre del video</label>
        </div> 
        <div class="col-md-3">
            <video src="./assets/videos/video2.mp4" controls style="height: 200px; width: 200px;"></video>
            <label >Aqui Iria el Nombre del video</label>
        </div>
        <div class="col-md-3">
            <video src="./assets/videos/video2.mp4" controls style="height: 200px; width: 200px;margin-bottom: 0;"></video>
            <label >Aqui Iria el Nombre del video</label>
        </div>          
    </div>
   
    <div class="septimo">
       <h2> El emprendimiento</h2> 
       <p>se refiere al proceso de iniciar un negocio, actividad o proyecto, generalmente con el objetivo de generar ganancias.
            Implica identificar oportunidades, <br>reunir recursos necesarios como capital, talento humano y tecnológico, y asumir riesgos financieros  y 
            personales para llevar a cabo una idea innovadora o mejorar un proceso existente.
            Los emprendedores suelen caracterizarse por ser personas con visión, creatividad, iniciativa y capacidad de asumir riesgos. <br>
            El emprendimiento es fundamental para el desarrollo económico y social, ya que impulsa la creación de empleo, fomenta la competencia 
            y promueve la innovación.
            <br><br>
            <strong>La innovación:</strong> se refiere al proceso de introducir novedades, cambios y mejoras significativas en productos, servicios, 
            procesos o métodos existentes,<br> con el fin de obtener beneficios o generar valor. La innovación puede manifestarse de diversas formas:
           
       </p>
       <ul>
          <li><strong>1. Innovación en productos:</strong> Desarrollo de nuevos productos o mejoras significativas en los productos <br> existentes para satisfacer mejor
                  las necesidades de los clientes o abrir nuevos mercados.</li>
          <li><strong> 2.	Innovación en procesos:</strong> Introducción de cambios en los métodos de producción, distribución o prestación de servicios para aumentar la eficiencia, reducir costos o mejorar la calidad.</li> 
          <li><strong> 3.	Innovación en modelos de negocio:</strong> Creación de nuevos modelos de negocio o modificación de los existentes para capturar valor de manera diferente o disruptiva en el mercado.</li> 
          <li><strong> 4.	Innovación en marketing:</strong> Aplicación de nuevas estrategias de comercialización, branding o posicionamiento que cambian la forma en que los productos o servicios son percibidos por los consumidores.</li> 
          <li><strong> 5.	Innovación organizacional:</strong> Implementación de cambios en la estructura organizativa, la cultura corporativa o la gestión de recursos <br>humanos para fomentar la creatividad, la colaboración y la adaptabilidad.</li> 
          <br><br>
          <p>La innovación es fundamental para la competitividad y el crecimiento tanto de empresas como de economías enteras. Promueve el desarrollo de nuevas tecnologías, <br>mejora la calidad de vida, impulsa la sostenibilidad y responde a los retos y oportunidades emergentes en un mundo cambiante.</p> 
        
      </ul> 



    <div>

        <h2> Importancia del emprendimiento</h2>
        
        <p>El emprendimiento es de suma importancia en diversos aspectos de la sociedad y la economía. Razones clave:</p>
       <ul>
          <li>  <strong> Generación de empleo:</strong> Los emprendedores crean nuevas empresas que a menudo se convierten en fuentes importantes de empleo. Esto no solo reduce el desempleo sino que también impulsa la movilidad social y económica de las personas.</li>

          <li>  <strong> Innovación y desarrollo tecnológico:</strong> Los emprendedores son agentes de cambio que introducen nuevas ideas, productos y servicios al mercado. Esto fomenta la innovación y promueve el desarrollo tecnológico, mejorando la calidad de vida y la eficiencia en diferentes sectores.</li>

          <li>  <strong> Crecimiento económico:</strong> Las empresas emergentes suelen contribuir significativamente al crecimiento económico de un país al aumentar la producción, la inversión y el consumo. También pueden abrir nuevos mercados y diversificar la economía.</li>

          <li>  <strong> Competitividad:</strong> El emprendimiento fomenta la competencia en el mercado al introducir nuevas formas de satisfacer las necesidades de los consumidores. Esto incentiva a las empresas establecidas a mejorar sus productos y servicios, beneficiando a los consumidores con más opciones y mejores productos.</li>

          <li>  <strong> Desarrollo regional y social:</strong> Los emprendedores pueden revitalizar comunidades locales al crear oportunidades económicas donde antes no las había. Esto puede ayudar a reducir la pobreza, mejorar la infraestructura y fortalecer la cohesión social.</li>

          <li>  <strong> Fomento del espíritu empresarial:</strong> Los emprendedores no solo crean empresas, sino que también inspiran a otros a seguir sus pasos. Esto promueve un ambiente favorable para el espíritu empresarial y la creatividad en la sociedad.</li>

            En resumen, el emprendimiento no solo impulsa la economía y la innovación, sino que también desempeña un papel crucial en la creación de empleo, el desarrollo tecnológico y el progreso social. Es fundamental apoyar y fomentar el emprendimiento para construir economías más dinámicas y resilientes en todo el mundo.
        </ul>

        <h2> Actividad en clase</h2><br>
        <p>Crear un sopa de lectra con las siguientes palabras</p>
      </div>

     <div class="actividad">
        <ul>
            <li> Innovación</li>
            <li> procesos</li>
            <li> modelos</li>
            <li> negocio</li>
            <li> marketing</li>
            <li> organizacional</li>
            <li> emprendimiento</li>
            <li> Competitividad</li>
            <li> Crecimiento</li> 
            <li> económico</li>
            <li> empleo</li>
        </ul>

        <ul>
            <li> Cultura</li>
            <li> Emprendedor</li>
            <li> Idea</li>
            <li> Empresa</li>
            <li> Lider</li>
            
        </ul>

      </div>
        
    </div>-->
    <div class="divimagen" style="margin: 40px;">
        <div style="text-align: center;"><img src="/assets/img/img01.jpg" alt=""></div>   
        <div style="text-align: center;"><img src="/assets/img/img02.jpg" alt=""></div>   
        <div style="text-align: center;"><img src="/assets/img/img03.jpg" alt=""></div>   
        <div style="text-align: center;"><img src="/assets/img/img04.jpg" alt=""></div>   
        <div  style="text-align: center;"><img src="/assets/img/img05.jpg" alt=""></div>   
        <div  style="text-align: center;"><img src="/assets/img/img06.jpg" alt=""></div>   
        <div style="text-align: center;"><img src="/assets/img/img07.jpg" alt=""></div>   
        
        <div style="text-align: center;"><img src="/assets/img/img08.png" alt=""></div>   
        <div style="text-align: center;"><img src="/assets/img/img011.jpg" alt=""></div>   
        <div style="text-align: center;"><img src="/assets/img/img010.jpg" alt=""></div>   

</div>
